<%= form_for(jobseekers_review) do |f| %>
  <% if jobseekers_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jobseekers_review.errors.count, "error") %> prohibited this jobseekers_review from being saved:</h2>

      <ul>
      <% jobseekers_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :application_id, :value => @application.id %>

  <div class="form-group">
    <%= f.label :how_will_you_rate_it, class: "col-md-2 control-label" %>
<div class="col-md-10">
    <%= f.number_field :star, :step => 0.1, class: "form-control" %><br/>
  </div>
</div>

  <div class="form-group">
    <%= f.label :tell_us_more_about_it, class: "col-md-2 control-label" %>
<div class="col-md-10">
    <%= f.text_area :description, class: "form-control" %><br/>
  </div>
</div>

  <div class="actions">
    <br/><%= f.submit class:"btn btn-primary"%>
  </div>
<% end %>
