<%= form_for(jobseekers_review) do |f| %>
  <% if jobseekers_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jobseekers_review.errors.count, "error") %> prohibited this jobseekers_review from being saved:</h2>

      <ul>
      <% jobseekers_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :jobseeker_id %>
    <%= f.number_field :jobseeker_id %>
  </div>

  <div class="field">
    <%= f.label :bizowner_id %>
    <%= f.number_field :bizowner_id %>
  </div>

  <div class="field">
    <%= f.label :jobseeker_review_star %>
    <%= f.number_field :jobseeker_review_star %>
  </div>

  <div class="field">
    <%= f.label :jobseeker_review_description %>
    <%= f.text_area :jobseeker_review_description %>
  </div>

  <div class="field">
    <%= f.label :job_end_date %>
    <%= f.date_select :job_end_date %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.check_box :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
