<p id="notice"><%= notice %></p>

<h1>Pending Reviews</h1>



<div class="table-responsive">
  <table class="table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>Company</th>
        <th>Job</th>
        <th>Description</th>
        <th>Status</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @applications.each do |application| %>
      <tr>
        <td><%= link_to application.job.company_name.capitalize, show_business_path(application.jobseeker_id) %></td>
        <td><%= link_to application.job.job_title.capitalize, show_job_path(application) %></td>
        <td><%= application.job.job_description.capitalize %></td>
        <td><%= application.status %></td>
        <td><%= link_to 'Leave a review', new_jobseekers_review_path(:application => application.id), class: "btn btn-info" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<br>
