<p id="notice"><%= notice %></p>

<p>
  <strong>Jobseeker:</strong>
  <%= @jobseekers_review.jobseeker_id %>
</p>

<p>
  <strong>Jobseeker review star:</strong>
  <%= @jobseekers_review.star %>
</p>

<p>
  <strong>Jobseeker review description:</strong>
  <%= @jobseekers_review.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @jobseekers_review.status %>
</p>

<%= link_to 'Edit', edit_jobseekers_review_path(@jobseekers_review) %> |
<%= link_to 'Back', jobseekers_reviews_path %>
