<%= form_for(listing) do |f| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :business_owner_id %>
    <%= f.number_field :business_owner_id %>
  </div>

  <div class="field">
    <%= f.label :job_title %>
    <%= f.text_field :job_title %>
  </div>

  <div class="field">
    <%= f.label :job_description %>
    <%= f.text_area :job_description %>
  </div>

  <div class="field">
    <%= f.label :industry %>
    <%= f.text_field :industry %>
  </div>

  <div class="field">
    <%= f.label :vacancy %>
    <%= f.number_field :vacancy %>
  </div>

  <div class="field">
    <%= f.label :work_location_postal_code %>
    <%= f.text_field :work_location_postal_code %>
  </div>

  <div class="field">
    <%= f.label :main_work_location %>
    <%= f.text_field :main_work_location %>
  </div>

  <div class="field">
    <%= f.label :work_location %>
    <%= f.text_field :work_location %>
  </div>

  <div class="field">
    <%= f.label :wage_per_hour %>
    <%= f.text_field :wage_per_hour %>
  </div>

  <div class="field">
    <%= f.label :job_start_date %>
    <%= f.date_select :job_start_date %>
  </div>

  <div class="field">
    <%= f.label :job_end_date %>
    <%= f.date_select :job_end_date %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.check_box :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
