<p id="notice"><%= notice %></p>

<p>
  <strong>Business owner:</strong>
  <%= @listing.bizowner.name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @listing.job_title %>
</p>

<p>
  <strong>Job description:</strong>
  <%= @listing.job_description %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @listing.industry %>
</p>

<p>
  <strong>Vacancy:</strong>
  <%= @listing.vacancy %>
</p>

<p>
  <strong>Work location postal code:</strong>
  <%= @listing.work_location_postal_code %>
</p>

<p>
  <strong>Work Area:</strong>
  <%= @listing.work_area %>
</p>

<p>
  <strong>Work location:</strong>
  <%= @listing.work_location %>
</p>

<p>
  <strong>Wage per hour:</strong>
  <%= @listing.wage_per_hour %>
</p>

<p>
  <strong>Job start date:</strong>
  <%= @listing.job_start_date %>
</p>

<p>
  <strong>Job end date:</strong>
  <%= @listing.job_end_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @listing.status %>
</p>

<% if current_user.is_biz %>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>
<%= link_to 'Back', listings_path %>
<% if current_user.is_seeker %>
| <%= link_to 'Apply', application_path, method: :post, data: { confirm: 'Are you sure?' } %>
<% end %>
