<h1>Editing Application</h1>

<%= form_for(@application) do |f| %>

  <div class="field">
    <%= f.label :status %>
    <br>
    <%= f.radio_button :status, "approve" %>
    <%= label :status, "approve"%>
        <br>
    <%= f.radio_button :status, "reject" %>
    <%= label :status, "reject"%>
        <br>
    <%= f.radio_button :status, "pending", :checked => true %>
    <%= label :status, "pending"%>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @application %> |
<%= link_to 'Back', applications_path %>
