<%= form_for(@store, html: { class: "form-horizontal", role: "form" }) do |f| %>
<% if @store.errors.any? %>
<div class="alert alert-danger alert-dismissable" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h4>

  <ul>
    <% @store.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<!-- Hide Lat and long when render -->
<!-- <div class="form-group">
<%= f.label :latitude, class: "col-sm-2 control-label" %>
<div class="col-sm-10">
<%= f.text_field :latitude, class: "form-control" %>
</div>
</div>
<div class="form-group">
<%= f.label :longitude, class: "col-sm-2 control-label" %>
<div class="col-sm-10">
<%= f.text_field :longitude, class: "form-control" %>
</div>
</div> -->
<div class="form-group">
  <%= f.label :name, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :name, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :address, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :address, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :title, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :title, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :job_title, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :job_title, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :job_description, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :job_description, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :industry, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :industry, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :vacancy, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.number_field :vacancy %>
  </div>
</div>

<div class="form-group">
  <%= f.label :wage_per_hour, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :wage_per_hour, :step => 0.01 %>
  </div>
</div>

<div class="form-group">
  <%= f.label :job_start_date, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.date_select :job_start_date, :start_year => 2016, :end_year => 2017 %>
  </div>
</div>

<div class="form-group">
  <%= f.label :job_end_date, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.date_select :job_end_date, :start_year => 2016, :end_year => 2017 %>
  </div>
</div>



<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit class: "btn btn-primary" %>
  </div>
</div>
<% end %>
