<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1>Jobs @ <%= @bizowner.name %></h1>
</div>

<div class = "container">

  <div class="table-responsive">
    <table class="table-striped">
      <thead class="thead-inverse">
        <tr>
          <th><%= sortable "job_title"%></th>
          <th><%= sortable "company_name"%></th>
          <th><%= sortable "address"%></th>
          <th><%= sortable "industry"%></th>
          <th><%= sortable "hourly_wage"%></th>
          <th><%= sortable "start_date"%></th>
          <th><%= sortable "end_date"%></th>
          <th></th>
          <% if current_user %>
          <% if current_user.is_admin %>
          <th colspan="2"></th>
          <% end %>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @jobs) do |job| %>
        <td><%= link_to job.job_title.capitalize, job_path(job) %></td>
        <td><%= link_to job.company_name.capitalize, show_business_path(job.bizowner_id) %></td>
        <td><%= job.address.capitalize %></td>
        <td><%= job.industry.capitalize %></td>
        <td>$<%= job.wage_per_hour %>0</td>
        <td><%= job.job_start_date %></td>
        <td><%= job.job_end_date %></td>

        <td><%= link_to 'Show', job %></td>
        <% if current_user %>
        <% if current_user.is_admin %>
        <td><%= link_to 'Edit', edit_job_path(job), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <% end %>
        <% end %>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @jobs %>

    <br>
    <% if current_user %>
    <% if current_user.is_biz %>
    <%= link_to 'See All Jobs', jobs_path %> |
    <%= link_to 'New Job', new_job_path %>
    <% end %>
    <% end %>

  </div>

</div>
