<div class="page-header">
  <h1><%= @job.job_title %> @ <%= @job.company_name %></h1>
</div>

<div class="col-md-2">
  <br/><strong>Address:</strong>
</div>
<div class="col-md-10">
  <br/><%= @job.address %>
</div>

<div class="col-md-2">
  <br/><strong>Company Name:</strong>
</div>
<div class="col-md-10">
  <br/><%= @job.company_name %>
</div>

<div class="col-md-2">
  <br/><strong>Job title:</strong>
</div>
<div class="col-md-10">
  <br/><%= @job.job_title %>
</div>

<div class="col-md-2">
  <br/><strong>Job description:</strong>
</div>
<div class="col-md-10">
  <br/><%= @job.job_description %>
</div>

<div class="col-md-2">
  <br/><strong>Industry:</strong>
</div>
<div class="col-md-10">
  <br/><%= @job.industry %>
</div>

<div class="col-md-2">
  <br/><strong>Status:</strong>
</div>
<div class="col-md-10">
  <% if @job.status == true %>
  <br/><%= "Open "%>
  <% else %>
  <br/><%= "Closed "%>
  <% end %>
</div>
