<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1><%= @job.job_title.capitalize %> @ <%= @job.company_name.capitalize %></h1>
</div>

<div class="col-md-2">
  <br/><strong>Address:</strong>
</div>
<div class="col-md-10">
  <br/><%= @job.address.capitalize %>
</div>

<div class="col-md-2">
  <br/><strong>Company Name:</strong>
</div>
<div class="col-md-10">
  <br/><%= @job.company_name.capitalize %>
</div>

<div class="col-md-2">
  <br/><strong>Job title:</strong>
</div>
<div class="col-md-10">
  <br/><%= @job.job_title.capitalize %>
</div>

<div class="col-md-2">
  <br/><strong>Job description:</strong>
</div>
<div class="col-md-10">
  <br/><%= @job.job_description.capitalize %>
</div>

<div class="col-md-2">
  <br/><strong>Industry:</strong>
</div>
<div class="col-md-10">
  <br/><%= @job.industry.capitalize %>
</div>

<div class="col-md-2">
  <br/><strong>Status:</strong>
</div>
<div class="col-md-10">
  <% if @job.status == true %>
  <br/><%= "Open "%>
  <% else %>
  <br/><%= "Closed "%>
  <% end %>
</div>

<div class="col-md-12">
<% if current_user.is_biz %>
<br/><%= link_to 'Edit', edit_job_path(@job), class: "btn btn-primary" %>
<% end %>
<% if current_user.is_seeker %>
<br/><%= link_to 'Apply', application_path, method: :post, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
<% end %>
</div>
