<div class="page-header">
  <h1><%= @job.job_title.capitalize %> @ <%= @job.company_name.capitalize %></h1>
</div>

<div class="col-md-2">
  <br/><strong>Job Title:</strong>
</div>
<div class="col-md-10">
  <br/><%= @job.job_title.capitalize %>
</div>

<div class="col-md-2">
  <br/><strong>Company Name:</strong>
</div>
<div class="col-md-10">
  <br/><%= @job.company_name.capitalize %>
</div>

<div class="col-md-2">
  <br/><strong>Job Description:</strong>
</div>
<div class="col-md-10">
  <br/><%= @job.job_description.capitalize %>
</div>

<div class="col-md-2">
  <br/><strong>Address:</strong>
</div>
<div class="col-md-10">
  <br/><%= @job.address.capitalize %>
</div>

<div class="col-md-2">
  <br/><strong>Industry:</strong>
</div>
<div class="col-md-10">
  <br/><%= @job.industry.capitalize %>
</div>

<div class="col-md-2">
  <br/><strong>Hourly Wage:</strong>
</div>
<div class="col-md-10">
  <br/>$<%= @job.wage_per_hour %>0
</div>

<div class="col-md-2">
  <br/><strong>Status:</strong>
</div>
<div class="col-md-10">
  <% if @job.status == true %>
  <br/><%= "Open "%>
  <% else %>
  <br/><%= "Closed "%>
  <% end %>
</div>
