<div class="page-header">
  <h1><%= @job.job_title %> @ <%= @job.company_name %></h1>
</div>

<p>
  <strong>Address:</strong>
  <%= @job.address %>
</p>

<p>
  <strong>Company Name:</strong>
  <%= @job.company_name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @job.job_title %>
</p>

<p>
  <strong>Job description:</strong>
  <%= @job.job_description %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @job.industry %>
</p>

<p>
  <strong>Status:</strong>
  <% if @job.status == true %>
  <%= "Open "%>
  <% else %>
  <%= "Closed "%>
  <% end %>
</p>

<% if current_user.is_biz %>
<%= link_to 'Edit', edit_job_path(@job) %> |
<% end %>
<%= link_to 'Back', jobs_path %>
<% if current_user.is_seeker %>
| <%= link_to 'Apply', application_path, method: :post, data: { confirm: 'Are you sure?' } %>
<% end %>
