<%= form_for(@user, html: { class: "form-horizontal", role: "form" }) do |f| %>
<% if user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :first_name, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= f.text_field :first_name, class: "form-control" %><br>
  </div>
</div>

<div class="form-group">
  <%= f.label :last_name, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= f.text_field :last_name, class: "form-control" %><br>
  </div>
</div>

<div class="form-group">
  <%= f.label :email, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= f.text_field :email, class: "form-control" %><br>
  </div>
</div>

<div class="form-group">
  <%= f.label :password, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= f.password_field :password, class: "form-control" %><br>
  </div>
</div>

<div class="form-group">
  <%= f.label :contact, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= f.number_field :contact, class: "form-control" %><br>
  </div>
</div>

<div class="form-group">
  <%= f.label :type, class: "col-md-2 control-label" %>
  <div class="col-md-2">
    <%= f.radio_button :is_seeker, "true"%>
    <%= label :is_seeker, "Job Seeker"%>
  </div>
  <div class="col-md-2">
    <%= f.radio_button :is_seeker, "false"%>
    <%= label :is_seeker, "Business Owner"%>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-md-10">
    <br><%= f.submit class: "btn btn-primary"%>
  </div>
</div>
<% end %>
