<p id="notice"><%= notice %></p>


<div class="col-md-2">
  <br/><strong>Name:</strong>
</div>
<div class="col-md-10">
  <br/><%= @user.name %>
</div>

<div class="col-md-2">
  <br/><strong>Contact:</strong>
</div>
<div class="col-md-10">
  <br/><%= @user.contact %>
</div>


<div class="col-md-2">
  <br/><strong>Email:</strong>
</div>
<div class="col-md-10">
  <br/><%= @user.email %>
</div>

<% if @user.is_seeker %>

<div class="col-md-2">
  <br/><strong>Date of Birth:</strong>
</div>
<div class="col-md-10">
  <br/><%= @jobseeker.dob %>
</div>

<div class="col-md-2">
  <br/><strong>Postal code:</strong>
</div>
<div class="col-md-10">
  <br/><%= @jobseeker.postal_code %>
</div>


<div class="col-md-2">
  <br/><strong>Highest Qualification:</strong>
</div>
<div class="col-md-10">
  <br/><%= @jobseeker.highest_qualification %>
</div>


<div class="col-md-2">
  <br/><strong>Preferred Area:</strong>
</div>
<div class="col-md-10">
  <br/><%= @jobseeker.preferred_area %>
</div>

<div class="col-md-2">
  <br/><strong>Preferred Location:</strong>
</div>
<div class="col-md-10">
  <br/><%= @jobseeker.preferred_location %>
</div>

<div class="col-md-2">
  <br/><strong>Description:</strong>
</div>
<div class="col-md-10">
  <br/><%= @jobseeker.description %>
</div>

<div class="col-md-2">
  <br/><strong>Wage:</strong>
</div>
<div class="col-md-10">
  <br/><%= @jobseeker.wage %>
</div>

<div class="col-md-2">
  <br/><strong>Start date:</strong>
</div>
<div class="col-md-10">
  <br/><%= @jobseeker.start_date %>
</div>

<div class="col-md-2">
  <br/><strong>End date:</strong>
</div>
<div class="col-md-10">
  <br/><%= @jobseeker.end_date %>
</div>

<% elsif @user.is_biz %>
<div class="col-md-2">
  <br/><strong>Company:</strong>
</div>
<div class="col-md-10">
  <br/><%= @bizowner.name %>
</div>

<div class="col-md-2">
  <br/><strong>Description:</strong>
</div>
<div class="col-md-10">
  <br/><%= @bizowner.description %>
</div>

<div class="col-md-2">
  <br/><strong>Business Address:</strong>
</div>
<div class="col-md-10">
  <br/><%= @bizowner.address %>
</div>

<div class="col-md-2">
  <br/><strong>Postal Code</strong>
</div>
<div class="col-md-10">
  <br/><%= @bizowner.postal_code %>
</div>

<div class="col-md-2">
  <br/><strong>License:</strong>
</div>
<div class="col-md-10">
  <br/><%= @bizowner.license_number %>
</div>

<% end %>

<div class="col-md-2">
  <br/><strong>User Type:</strong>
</div>
<div class="col-md-10">
  <% if @user.is_admin %>
  <br/><%= "Admin" %>
  <% elsif @user.is_seeker %>
  <br/><%= "Job Seeker" %>
  <% else %>
  <br/><%= "Business Owner" %>
  <% end %>
</div>

<div class="col-md-12">
<br/><%= link_to 'Edit User Profile', profile_edit_path %> |
<% if @user.is_seeker %>
<%= link_to 'Edit Job Profile', job_edit_path %>
<% elsif @user.is_biz %>
<%= link_to 'Edit Business Profile', business_edit_path %>
<% end %>
</div>
