<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @user.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>User Type:</strong>
  <td><% if @user.is_admin %>
    <%= "Admin"%>
    <% elsif @user.is_seeker %>
    <%= "Job Seeker" %>
    <% else %>
    <%= "Business Owner" %>
    <% end %>
  </td>
</p>

<% if @user.is_seeker %>
<p>
  <strong>Date of Birth:</strong>
  <%= @jobseeker.dob %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @jobseeker.postal_code %>
</p>

<p>
  <strong>Highest Qualification:</strong>
  <%= @jobseeker.highest_qualification %>
</p>

<p>
  <strong>Preferred Area:</strong>
  <%= @jobseeker.preferred_area %>
</p>

<p>
  <strong>Preferred Location:</strong>
  <%= @jobseeker.preferred_location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @jobseeker.description %>
</p>

<p>
  <strong>Wage:</strong>
  <%= @jobseeker.wage %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @jobseeker.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @jobseeker.end_date %>
</p>

<% elsif @user.is_biz %>
<p>
  <strong>Company:</strong>
  <%= @bizowner.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bizowner.description %>
</p>

<p>
  <strong>Business Address:</strong>
  <%= @bizowner.address %>
</p>

<p>
  <strong>Postal Code</strong>
  <%= @bizowner.postal_code %>
</p>

<p>
  <strong>License:</strong>
  <%= @bizowner.license_number %>
</p>

<% end %>

<%= link_to 'Edit User Profile', profile_edit_path %> |
<% if @user.is_seeker %>
<%= link_to 'Edit Job Profile', job_edit_path %>
<% elsif @user.is_biz %>
<%= link_to 'Edit Business Profile', business_edit_path %>
<% end %>
