<p id="notice"><%= notice %></p>

<%= render 'form', jobseeker: @jobseeker %>
<br/>
<%= link_to 'Show User Profile', profile_path %> |
<%= link_to 'Show Job Profile', job_profile_path %> |
<%= link_to 'Edit User Profile', profile_edit_path %>
