<p id="notice"><%= notice %></p>

<div class="col-md-2">
  <br/><strong>Name:</strong>
</div>
<div class="col-md-10">
  <br/><%= @user.name %>
</div>

<div class="col-md-2">
  <br/><strong>Age:</strong>
</div>
<div class="col-md-10">
  <br/>To be confirmed
</div>

<div class="col-md-2">
  <br/><strong>Highest Qualification:</strong>
</div>
<div class="col-md-10">
  <br/><%= @jobseeker.highest_qualification %>
</div>

<div class="col-md-2">
  <br/><strong>Profile:</strong>
</div>
<div class="col-md-10">
  <br/><%= @jobseeker.description %>
</div>

<div class="col-md-2">
  <br/><strong>Availability:</strong>
</div>
<div class="col-md-10">
  <br/><%= @jobseeker.start_date %> to <%= @jobseeker.end_date %>
</div>
