<p id="notice"><%= notice %></p>

<p>
  <strong>Date of Birth:</strong>
  <%= @jobseeker.dob %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @jobseeker.postal_code %>
</p>

<p>
  <strong>Highest Qualification:</strong>
  <%= @jobseeker.highest_qualification %>
</p>

<p>
  <strong>Preferred Area:</strong>
  <%= @jobseeker.preferred_area %>
</p>

<p>
  <strong>Preferred Location:</strong>
  <%= @jobseeker.preferred_location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @jobseeker.description %>
</p>

<p>
  <strong>Wage:</strong>
  <%= @jobseeker.wage %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @jobseeker.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @jobseeker.end_date %>
</p>

<%= link_to 'Show User Profile', profile_path %> |
<%= link_to 'Edit User Profile', profile_edit_path %> |
<%= link_to 'Edit Job Profile', job_edit_path %>
