<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  To be confirmed
</p>

<p>
  <strong>Highest Qualification:</strong>
  <%= @jobseeker.highest_qualification %>
</p>

<p>
  <strong>Description:</strong>
  <%= @jobseeker.description %>
</p>

<p>
  <strong>Wage:</strong>
  <%= @jobseeker.wage %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @jobseeker.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @jobseeker.end_date %>
</p>
