<p id="notice"><%= notice %></p>

<p>
  <strong>Bizowner:</strong>
  <%= @bizowners_review.bizowner_id %>
</p>

<p>
  <strong>Bizowner review star:</strong>
  <%= @bizowners_review.star %>
</p>

<p>
  <strong>Business review description:</strong>
  <%= @bizowners_review.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bizowners_review.status %>
</p>

<%= link_to 'Edit', edit_bizowners_review_path(@bizowners_review) %> |
<%= link_to 'Back', bizowners_reviews_path %>

<br>
<br>
