<%= form_for(@bizowner, html: { class: "form-horizontal", role: "form" }) do |f| %>
<% if bizowner.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(bizowner.errors.count, "error") %> prohibited this bizowner from being saved:</h2>

  <ul>
    <% bizowner.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :company_name, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= f.text_field :name, class: "form-control" %><br>
  </div>
</div>

<div class="form-group">
  <%= f.label :company_profile, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= f.text_area :description, class: "form-control" %><br>
  </div>
</div>

<div class="form-group">
  <%= f.label :company_address, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= f.text_field :address, class: "form-control" %><br>
  </div>
</div>

<div class="form-group">
  <%= f.label :postal_code, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= f.text_field :postal_code, class: "form-control" %><br>
  </div>
</div>

<div class="form-group">
  <%= f.label :ACRA_registration_number, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= f.text_field :license_number, class: "form-control" %><br>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-md-10">
    <br><%= f.submit class: "btn btn-primary" %>
  </div>
</div>

<% end %>
