<p id="notice"><%= notice %></p>

<%= render 'form', bizowner: @bizowner %>
<br/>
<%= link_to 'Show User Profile', profile_path %> |
<%= link_to 'Show Business Profile', biz_profile_path %> |
<%= link_to 'Edit User Profile', profile_edit_path %>
